﻿@model ContactManager.Models.ContactListModel

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
    </tr>
@foreach(ContactManager.Models.ContactModel contact in Model.Contacts)
{
    <tr>
        <td>@contact.FirstName @contact.LastName</td>
        <td>@contact.EmailAddress</td>
        <td>@contact.Address</td>
        <td>@contact.PhoneNumber</td>
        <td><input type="button" value="View" onclick="location.href='@Url.Action("View", new { id = contact.id })'"/></td>
        <td><input type="button" id="@contact.id" value="Delete" onclick="deleteContact(@contact.id)"/></td>
    </tr>
}
</table>