﻿@model ContactManager.Models.ContactListModel

@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    function displayPosition(position) {
        $("#results").load('@(Url.Action("Search","Home"))?Lat=' + position.coords.latitude + '&Long=' + position.coords.longitude);
    }

    function displayError(error) {
        var errors = {
            1: 'Permission denied',
            2: 'Position unavailable',
            3: 'Request timeout'
        };
        alert("Error: " + errors[error.code]);
    }

    function searchClick() {
        var category = $("#searchList").val();
        if (category === 'nearestToMe') {
            if (navigator.geolocation) {
              var timeoutVal = 10 * 1000 * 1000;
              navigator.geolocation.getCurrentPosition(
                displayPosition, 
                displayError,
                { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
              );
            } else {
                alert("Geolocation is not supported by this browser");
            }
        } else {
            var searchText = $("#txtSearch").val();
            var queryString = "SearchText=" + searchText + "&Category=" + category;
            $("#results").load('@(Url.Action("Search","Home"))?SearchText=' + searchText + '&Category=' + category);
        }
    }

    function deleteContact(id) {
        if (confirm('Are you sure?')) {
            $("#results").load('@Url.Action("Delete", "Home")?id=' + id);
        }
    }
</script>

<h2>@ViewBag.Message</h2>
<input type="button" value="Add Contact" onclick="location.href='@Url.Action("Add")'"/>
<div>
    <input type="text" placeholder="Search..." id="txtSearch" />
    <select id="searchList">
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <option value="emailAddress">Email Address</option>
        <option value="nearestToMe">Nearest to me</option>
    </select>
    <input type="button" onclick="searchClick()" value="Search"/>
</div>
<div id="results">
@Html.Partial("ContactPartial", Model)
</div>