﻿@model ContactManager.Models.ContactModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table>
    <tr>
        <td>Name: @Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <td>Email Address: @Model.EmailAddress</td>
    </tr>
    <tr>
        <td>Address: @Model.Address</td>
    </tr>
    <tr>
        <td>Phone Number: @Model.PhoneNumber</td>
    </tr>
    <tr>
        <td><input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.id })'"/></td>
        <td><input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = Model.id })'"/></td>
    </tr>
</table>
